<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhy.wlthd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:name=".WLTApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WLTSplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="base.BFragmentActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".WLTHomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".WLTMainActivity"
            android:screenOrientation="landscape" />
    </application>
</manifest>