<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhy.android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.PERMISSIONS_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <application>

        <activity android:name="base.BSplashActivity"/>
        <activity android:name="base.BHomeActivity"/>
        <activity android:name="base.BFragmentActivity"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize"/>

        <!--图片预览界面-->
        <activity
            android:name="photopicker.view.CCRPhotoPreviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/CCRPPTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--图片选择界面-->
        <activity
            android:name="photopicker.view.CCRPhotoPickerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/CCRPPTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--图片选择预览界面-->
        <activity
            android:name="photopicker.view.CCRPhotoPickerPreviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/CCRPPTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <provider
            android:name="photopicker.utils.CCRPhotoFileProvider"
            android:authorities="${applicationId}.bga_photo_picker.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/bga_photo_picker_file_paths" />
        </provider>
        <provider
            android:name="photopicker.utils.CCRPhotoFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="photopicker.lib.PictureSelectorActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="photopicker.lib.PictureSelectorCameraEmptyActivity"
            android:theme="@style/Picture.Theme.Translucent"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name="photopicker.lib.PicturePreviewActivity" />
        <activity
            android:name="photopicker.lib.PicturePlayVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensor" />
        <activity android:name="photopicker.lib.PictureExternalPreviewActivity" />
        <activity
            android:name="photopicker.ucrop.UCropActivity"
            android:theme="@style/Base.Theme.NoActionBar" />
        <activity
            android:name="photopicker.ucrop.PictureMultiCuttingActivity"
            android:theme="@style/Base.Theme.NoActionBar" />

<!--        <activity android:name="photopicker.lib.PicturePlayVideoActivity" />-->

    </application>
</manifest>